!DOCTYPE html>
<html>
<head>
    <title>Geocoding with JavaScript</title>
    <link rel='stylesheet' type = 'text/css' href='project2.css'/>
    <script src='proect2.js'></script>
</head>
<body>
    <form>
        <div>
            <input type="text" name="guess"/>
            <button type="button">Add</button>
        </div>
    </form>    
</body>
</html>